:root[color-theme="pink"] {
  --background: #3300cc;
  /*const background = #ffb6ea;*/
  --fontColor: #222;
}

:root[color-theme="dark"] {
  --background: #990000;
  --fontColor: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Sunflower", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  width: 100%;
  height: 3rem;
  text-align: right;
  padding-top: 1rem;
  padding-right: 3rem;
}

header > span {
  cursor: pointer;
}

section {
  width: 100%;
  height: 100vh;
  background-color: var(--background);
}

#smallCircle {
  position: absolute;
  width: 32rem;
  height: 32rem;
  top: -10rem;
  left: -10rem;
  opacity: 0.2;
  border-radius: 50%;
  background-color: #fff;
}

#bigCircle {
  position: absolute;
  width: 46rem;
  height: 46rem;
  bottom: -5rem;
  right: -18rem;
  opacity: 0.2;
  border-radius: 50%;
  background-color: #fff;
}

.flexAlignStart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexAlignStart > div {
  margin-left: 4rem;
}

.flexAlignStart > div > div {
  margin-bottom: 1rem;
}

#pojectBox {
  width: 100%;
  height: 90vh;
  font-size: 3rem;
  font-weight: bold;
  color: var(--fontColor);
}

#aboutme {
  color: var(--fontColor);
  height: 85%;
}

.contact {
  height: 70%;
}

.footer {
  height: 30%;
}

/* aboutME */
.aboutMe {
  position: absolute;
  bottom: 5%;
  left: 48%;
  color: aquamarine;
  cursor: pointer;
  font-weight: bold;
}

.aboutMe:hover {
  margin-bottom: -10px;
  transition: 0.5s;
}

.downArrow {
  width: 30px;
  height: 30px;
  position: relative;
  left: 35%;
  margin-top: 10px;
}

/* 기술파트 */
.skill-part {
  height: 70%;
}
