:root[color-theme="pink"] {
  --background: #3300cc;
  /*const background = #ffb6ea;*/
  --fontColor: #222;
}

:root[color-theme="dark"] {
  --background: #990000;
  --fontColor: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Noto Sans KR", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  width: 100%;
  height: 3rem;
  text-align: right;
  padding-top: 1rem;
  padding-right: 3rem;
}

header > span {
  cursor: pointer;
}

section {
  width: 100%;
  height: 100vh;
  background-color: var(--background);
}

#smallCircle {
  position: absolute;
  width: 32rem;
  height: 32rem;
  top: -10rem;
  left: -10rem;
  opacity: 0.2;
  border-radius: 50%;
  background-color: #fff;
}

#bigCircle {
  position: absolute;
  width: 46rem;
  height: 46rem;
  bottom: -5rem;
  right: -18rem;
  opacity: 0.2;
  border-radius: 50%;
  background-color: #fff;
}

.flexAlignStart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexAlignStart > div {
  margin-left: 4rem;
}

.pojectBox {
  width: 100%;
  height: 90vh;
  font-size: 3rem;
  font-weight: bold;
  color: var(--fontColor);
}

#aboutme {
  color: var(--fontColor);
  height: 85%;
}

.contact {
  height: 70%;
}

.footer {
  height: 30%;
}

/* 프로필 */
.short-intro {
  font-size: 1.5rem;
  font-weight: 100;
  margin: 1rem 0;
}

.profile-box {
  width: 100%;
}

.profile-box2 {
  display: flex;
  justify-content: center;
}

.profile-img {
  width: 20vw;
  height: 50vh;
  border-radius: 10px;
}

.profile-img img {
  width: inherit;
  height: inherit;
  border-radius: 10px;
}

.profile-guide {
  margin-left: 3%;
}

.profile-body {
  font-size: 1.2rem;
  display: flex;
  text-align: left;
}

/* aboutME */
.aboutMe {
  position: absolute;
  bottom: 5%;
  left: 48%;
  color: aquamarine;
  cursor: pointer;
  font-weight: bold;
}

.aboutMe:hover {
  margin-bottom: -10px;
  transition: 0.5s;
}

.downArrow {
  width: 30px;
  height: 30px;
  position: relative;
  left: 35%;
  margin-top: 10px;
}

/* 개발자가 되기위한 설명 */
.forDev {
  width: 30vw;
  text-align: left;
  margin-top: 1rem;
  font-size: 1rem;
}

.forDev p {
  margin-bottom: 1rem;
}

/* 기술파트 */
.skill-part {
  height: 100%;
}

.skill-title {
  text-align: center;
  padding: 1rem 0;
}

.skill-inner-box {
  padding: 20px;
}

.skill-list {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #d9d9d9;
}

.skill-img {
  width: 16rem;
  margin-left: 10px;
  cursor: pointer;
}

.skill-img:hover {
  width: 17rem;
  transition: 0.5s;
  /* margin-left: 10px; */
  /* cursor: pointer; */
}

.skill-wrapper {
  position: relative;
  display: flex;
}

.overlay {
  width: 0;
  height: 9rem;
  position: absolute;
  left: 107%;
  background-color: white;
  border: 2px solid #d9d9d9;
  border-radius: 0 10px 10px 0;
  border-left: none;
  transition: 0.5s;
  opacity: 0;
  z-index: 999;
}

.skill-text {
  font-size: 0.8rem;
  opacity: 0;
  margin: 0.5rem;
  font-weight: 700;
}

.skill-text p {
  margin-bottom: 0.3rem;
}

.skill-wrapper:hover .overlay {
  opacity: 1;
  width: 20rem;
}

.skill-wrapper:hover .skill-text {
  opacity: 1;
  transition: 1s;
}

/* 프로젝트 */
.project-wrapper {
  margin: 0 auto;
  box-shadow: 5px 5px 5px 4px #d9d9d9;
  border-radius: 10px;
  width: 70vw;
  background-color: ghostwhite;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  top: 5%;
  left: 1%;
}

.project-name {
  font-size: 2rem;
  margin: 1rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid #d9d9d9;
}

.project-content-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.project-img-wrapper {
  width: 30%;
}

.project-img-wrapper img {
  width: 80%;
}

.project-text {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.project-text-title {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.project-text-skill {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.project-detail {
  width: 8rem;
  height: 2.5rem;
  border-radius: 0.6rem;
  background-color: black;
  text-align: center;
  line-height: 2.5rem;
}

.project-detail:hover {
  background-color: #222;
}

.project-detail a {
  font-size: 1.4rem;
  text-decoration: none;
  color: white;
}

/* 프로젝트 제작 */
.project-made {
  display: flex;
  justify-content: flex-start;
  font-size: 1.5rem;
}

.project-made-title {
  margin-right: 2rem;
}

.project-made-title p {
  margin-bottom: 0.5rem;
}

.project-made-text {
  font-weight: 500;
}

.project-made-text p {
  margin-bottom: 0.5rem;
}
