:root[color-theme="pink"] {
  --background: #3300cc;
  /*const background = #ffb6ea;*/
  --fontColor: #222;
}

:root[color-theme="dark"] {
  --background: #990000;
  --fontColor: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Sunflower", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  width: 100%;
  height: 3rem;
  text-align: right;
  padding-top: 1rem;
  padding-right: 3rem;
}

header > span {
  cursor: pointer;
}

section {
  width: 100%;
  height: 100vh;
  background-color: var(--background);
}

#smallCircle {
  position: absolute;
  width: 32rem;
  height: 32rem;
  top: -10rem;
  left: -10rem;
  opacity: 0.2;
  border-radius: 50%;
  background-color: #fff;
}

#bigCircle {
  position: absolute;
  width: 46rem;
  height: 46rem;
  bottom: -5rem;
  right: -18rem;
  opacity: 0.2;
  border-radius: 50%;
  background-color: #fff;
}

.flexAlignStart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexAlignStart > div {
  margin-left: 4rem;
}

.pojectBox {
  width: 100%;
  height: 90vh;
  font-size: 3rem;
  font-weight: bold;
  color: var(--fontColor);
}

#aboutme {
  color: var(--fontColor);
  height: 85%;
}

.contact {
  height: 70%;
}

.footer {
  height: 30%;
}

/* aboutME */
.aboutMe {
  position: absolute;
  bottom: 5%;
  left: 48%;
  color: aquamarine;
  cursor: pointer;
  font-weight: bold;
}

.aboutMe:hover {
  margin-bottom: -10px;
  transition: 0.5s;
}

.downArrow {
  width: 30px;
  height: 30px;
  position: relative;
  left: 35%;
  margin-top: 10px;
}

/* 개발자가 되기위한 설명 */
.forDev {
  text-align: left;
  margin: 20px 0;
  font-size: 1rem;
}

/* 기술파트 */
.skill-part {
  height: 100%;
}

.skill-title {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.skill-inner-box {
  padding: 20px;
}

.skill-list {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #d9d9d9;
}

.skill-img {
  width: 16rem;
  margin-left: 10px;
  cursor: pointer;
}

.skill-img:hover {
  width: 17rem;
  transition: 0.5s;
  /* margin-left: 10px; */
  /* cursor: pointer; */
}

.skill-wrapper {
  position: relative;
  display: flex;
}

.overlay {
  width: 0;
  height: 9rem;
  position: absolute;
  left: 107%;
  background-color: white;
  border: 2px solid #d9d9d9;
  border-radius: 0 10px 10px 0;
  border-left: none;
  transition: 0.5s;
  opacity: 0;
  z-index: 999;
}

.skill-text {
  font-size: 0.8rem;
  opacity: 0;
  margin: 10px;
}

.skill-wrapper:hover .overlay {
  opacity: 1;
  width: 20rem;
}

.skill-wrapper:hover .skill-text {
  opacity: 1;
  transition: 1s;
}

/* 프로젝트 */
.project-wrapper {
  border: 1px solid black;
  border-radius: 10px;
  width: 60rem;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  top: 10%;
  left: 5%;
}
